.file {
  &-preview {
    padding: 0;
    margin: -3px 0 5px 0;
    border: none;
  }
  &-drop-zone {
    margin: 0;
    &.clickable:hover {
      border: 1px solid #3c8dbc;
    }
  }
  &-preview-frame {
    border: none;
    display: block;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    .kv-file-content {
      box-shadow: 1px 1px 5px 0 #bbb;
    }
    img {
      border-radius: 2px;
    }
  }
  &-thumbnail-footer {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &-initial-thumbs,
  &-live-thumbs {
    margin: 0 -3px;
  }
}

.kv-upload-progress {
  clear: both;
}